{{#if label-text}}
  <label>
    {{label-text}}
  </label>
{{/if}}
{{input class=input-classes value=(get changeset propertyName)  update=(action (mut (get changeset propertyName)))}}

{{#if (get changeset.error propertyName)}}
<span class="error-message">{{get (get changeset.error propertyName) "validation"}}</span>
{{/if}}
{{yield}}
