{{#with (changeset model BookValidations) as |changeset|}}
{{validated-input propertyName="author" changeset=changeset label-text="Author"}}<br/>
{{validated-input 
	type="password"
	propertyName="password" changeset=changeset label-text="Password"}}<br/>


	<div class="some-other-container">
	  <label>Title</label>
	  {{validated-input propertyName="title" changeset=changeset}}
	</div>

{{/with}}
